* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f3f4f6;
    min-height: 100vh;
}

/* =========================
   HEADER
========================= */

.sticky-header {
    background: #dc2626;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-pokemon {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #FFDE00;
    text-shadow: 3px 3px #3B4CCA;
}

.menu-right .btn-submit {
    width: auto;
    padding: 10px 20px;
}

/* =========================
   BREADCRUMB
========================= */

.breadcrumb {
    padding: 1rem 2rem;
    font-weight: bold;
    background: white;
}

.breadcrumb a {
    text-decoration: none;
    color: #3B4CCA;
}

/* =========================
   PERFIL
========================= */

.perfil-container {
    max-width: 1300px;
    margin: 40px auto;
    background: #dc2626;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.perfil-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.perfil-img {
    width: 160px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #3B4CCA;
    background: white;
    padding: 4px;
    box-shadow:
        0 0 0 4px #FFCB05,   /* aro amarillo Pokémon */
        0 8px 16px rgba(0,0,0,0.25);
}


.perfil-datos h2 {
    font-family: 'Press Start 2P', cursive;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
}

.btn-social {
    margin-top: 1rem;
    padding: 10px 20px;
    background: #FFDE00;
    border: 3px solid #3B4CCA;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

/* =========================
   BADGES
========================= */

.badges {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.badge {
    padding: 8px 16px;
    border-radius: 12px;
    font-family: 'Press Start 2P', cursive;
    font-size: .7rem;
    border: 3px solid #3B4CCA;
    color: white;
}

.badge-region {
    background: #3B4CCA;
}

/* =========================
   STATS
========================= */

.perfil-stats {
    display: flex;
    gap: 20px;
}

.stat-item {
    width: 150px;
}

.stat-label {
    text-align: center;
    font-size: .7rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 6px;
}

.stat-bar {
    background: #d1d5db;
    height: 16px;
    border-radius: 8px;
}

.fill {
    height: 100%;
    border-radius: 8px;
}

.rojo .fill {
    background: linear-gradient(#ff1744,#c41c00);
}
.amarillo .fill {
    background: linear-gradient(#ffd600,#ffab00);
}
.azul .fill {
    background: linear-gradient(#2196F3,#1565C0);
}

/* =========================
   FAVORITOS
========================= */

.container-2 {
    max-width: 1300px;
    margin: auto;
    padding: 2rem;
}

.favoritos h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFCB05; /* amarillo Pokémon */
    text-shadow:
        2px 2px 0 #3B4CCA,
        4px 4px 0 #000;
    letter-spacing: 1px;
}

/* =========================
   GRID DE POKEMON
========================= */

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 1.5rem;
}

.pokemon-card {
    background: white;
    border: 4px solid #1f2937;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: .2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card-header {
    padding: 1rem;
    color: white;
    position: relative;
}

.pokemon-id {
    font-family: 'Press Start 2P', monospace;
    position: absolute;
    top: 8px;
    right: 12px;
}

.pokemon-image {
    width: 120px;
    display: block;
    margin: auto;
}

.pokemon-card-body {
    font-family: 'Press Start 2P', monospace;
    padding: 1rem;
}

.pokemon-name-card {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    color: #1f2937;
    text-transform: uppercase;
}

.pokemon-types {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* =========================
   TYPE BADGES
========================= */

.type-badge {
    font-family: 'Press Start 2P', monospace;
    padding: .3rem .8rem;
    border-radius: 999px;
    font-size: .7rem;
    color: white;
}

/* Type Colors */
.type-normal {
    background-color: #A8A878;
}
.type-fire {
    background-color: #F08030;
}
.type-water {
    background-color: #6890F0;
}
.type-electric {
    background-color: #F8D030;
}
.type-grass {
    background-color: #78C850;
}
.type-ice {
    background-color: #98D8D8;
}
.type-fighting {
    background-color: #C03028;
}
.type-poison {
    background-color: #A040A0;
}
.type-ground {
    background-color: #E0C068;
}
.type-flying {
    background-color: #A890F0;
}
.type-psychic {
    background-color: #F85888;
}
.type-bug {
    background-color: #A8B820;
}
.type-rock {
    background-color: #B8A038;
}
.type-ghost {
    background-color: #705898;
}
.type-dragon {
    background-color: #7038F8;
}
.type-dark {
    background-color: #705848;
}
.type-steel {
    background-color: #B8B8D0;
}
.type-fairy {
    background-color: #EE99AC;
}

/* =========================
   FAVORITO
========================= */

.btn-favorite {
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #555; /* Gris para el borde del corazón vacío */
    z-index: 20;  /* Asegura que esté por encima de la tarjeta */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.btn-favorite.active {
    color: #ff4d4d;
    animation: retro-beat 0.8s infinite alternate steps(2);
}

.btn-favorite:hover {
    transform: scale(1.1);
}




/* =========================
   Cerrar Sesion
========================= */
.menu-right {
    margin-right: 20px;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: white;
    color: #dc2626;
    border-radius: 12px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: 0.2s ease;
}

.logout-btn i {
    font-size: 1.1rem;
}

.logout-btn {
    border-radius: 999px;
}

.logout-btn:hover {
    background: #fee2e2;
    transform: translateY(-2px);
}



/* =========================
   MODAL
========================= */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, .75);
    backdrop-filter: blur(4px);
    display: none;
    z-index: 1000;
}

/* Contenedor */
.modal-content {
    width: 420px;
    max-width: 90%;
    background: #fefefe;
    margin: 8% auto;
    padding: 2.2rem;
    border-radius: 14px;
    border: 3px solid #1f2937;
    box-shadow:
        0 10px 40px rgba(0,0,0,.5),
        0 0 0 4px #ef4444;
    animation: modalPop .35s ease;
    position: relative;
    font-family: "Poppins", sans-serif;
}

/* Animación */
@keyframes modalPop {
    from {
        transform: scale(.8) translateY(30px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

/* Botón cerrar estilo Pokédex */
.close, .closeUsuario{
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 1.6rem;
    cursor: pointer;
    color: #1f2937;
    width: 36px;
    height: 36px;
    border: 2px solid #1f2937;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 3px 3px 0 #1f2937;
    transition: all .15s ease;
}

.close:hover,  .closeUsuario:hover{
    background: #ef4444;
    color: white;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 #1f2937;
}

/* Título */
.modal-content h2 {
    font-family: "Press Start 2P", monospace;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #1f2937;
    border-bottom: 3px solid #ef4444;
    padding-bottom: .8rem;
}

/* Inputs */
.modal-content input {
    width: 100%;
    padding: .7rem .9rem;
    border: 2px solid #1f2937;
    border-radius: 8px;
    font-size: .9rem;
    outline: none;
    transition: all .2s ease;
}

.modal-content input:focus {
    border-color: #ef4444;
    box-shadow: 0 0 0 3px rgba(239,68,68,.3);
}
.modal-content select {
    width: 100%;
    padding: .7rem .9rem;
    border: 2px solid #1f2937;
    border-radius: 8px;
    font-size: .9rem;
    outline: none;
    transition: all .2s ease;
}

.modal-content select:focus {
    border-color: #ef4444;
    box-shadow: 0 0 0 3px rgba(239,68,68,.3);
}

/* Botón guardar */
.btn-submit {
    margin-top: 1.5rem;
    width: 100%;
    padding: .8rem;
    background: linear-gradient(90deg, #ef4444, #facc15);
    border: 2px solid #1f2937;
    border-radius: 10px;
    font-weight: 700;
    color: #1f2937;
    cursor: pointer;
    box-shadow: 3px 3px 0 #1f2937;
    transition: all .15s ease;
}

.btn-submit:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 #1f2937;
}


/* Responsivo */
@media (max-width: 768px) {
    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    .menu-right {
        width: 100%;
        justify-content: space-between;
    }

    .search-input {
        max-width: none; /* ocupa todo el ancho disponible */
        flex-grow: 1;
    }
}
.breadcrumb {
    max-width: 1300px;
    margin: 40px auto;
    padding: 14px;
}

.breadcrumb a {
    color: #3B4CCA;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: #FF1744;
}

.breadcrumb span {
    font-weight: bold;
    color: #1f2937;
}
/* =========================
   TABLA PERFIL
========================= */
.perfil-table {
    max-width: 1300px;
    margin: 40px auto;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.pokemon-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

.pokemon-table thead {
    background: #dc2626;
    color: #FFDE00;
    text-shadow: 2px 2px #3B4CCA;
}

.pokemon-table th, 
.pokemon-table td {
    border: 3px solid #3B4CCA;
    padding: 12px;
    text-align: center;
}

.pokemon-table tbody tr:nth-child(even) {
    background: #f3f4f6;
}

.pokemon-table tbody tr:hover {
    background: #fee2e2;
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
.usuario-container {
    max-width: 1300px;
    margin: 40px auto;
    border-radius: 16px;
    padding: 24px;
}
.btn-eliminar {
    margin-top: 1rem;
    padding: 10px 20px;
    background: #dc2626;
    border: 3px solid #3B4CCA;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}
.btn-agregar {
    margin-top: 1rem;
    padding: 10px 20px;
    background: #32CD32;
    border: 3px solid #3B4CCA;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

/* Mensajes */
.success-message {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 3px solid #32CD32;
    border-radius: 12px;
    background: #FFF5F5;
    color: #32CD32;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 4px 0 #32CD32;
}

.error-message {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 3px solid #FF1744;
    border-radius: 12px;
    background: #FFF5F5;
    color: #B91C1C;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 4px 0 #FF1744;
}