<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    
    <section class="container my-5" layout:fragment="content">
        
        <!--BREADCRUMBS-->
        <nav class="breadcrumb">
            <a href="/">Inicio</a> /
            <a href="/administrador/pokemons">Pokédex</a> /
            <span>Administrador</span>
        </nav>
        <span th:if="${perfilMessage != null}" th:text="${perfilMessage}" class="success-message usuario-container" style="display: flex; justify-content: space-between; align-items: center;"></span>
        <div class="perfil-container">
            <!-- Datos del Maestro Pokémon -->
            <section class="perfil-info">
                <img src="https://static.wikia.nocookie.net/universecw/images/0/0f/Ash_Ketchum.png/revision/latest?cb=20201216120309&path-prefix=es" alt="Maestro Pokémon" class="perfil-img">
                <div class="perfil-datos">
                    <h2 class="perfil-nombre"><span th:text="${usuario.nombre}"></span></h2>
                    <div class="badges">
                        <span class="badge badge-region">Maestro Pokémon</span>
                        <span class="badge badge-region">Región: Kanto</span>
                    </div>
                    <button id="btnEditarPerfil" class="btn-social">
                        Editar Perfil
                    </button>

                </div>
                <div class="perfil-stats">
                    <div class="stat-item rojo">
                        <span class="stat-label">Batallas Ganadas</span>
                        <div class="stat-bar">
                            <div class="fill" style="width: 80%;"></div>
                        </div>
                    </div>

                    <div class="stat-item amarillo">
                        <span class="stat-label">Velocidad</span>
                        <div class="stat-bar">
                            <div class="fill" style="width: 65%;"></div>
                        </div>
                    </div>

                    <div class="stat-item azul">
                        <span class="stat-label">Pokémon Capturados</span>
                        <div class="stat-bar">
                            <div class="fill" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--USUARIOS-->
        <div class="usuario-container" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1 class="titulo-pokemon">Usuarios</h1>
            </div>
            <div>
                <button class="btn-agregar"
                        th:onclick="|AgregarEditarUsuario(0)|"
                        id="btnAgregarPerfilUsuario">
                    Agregar
                </button>
            </div>
        </div>
        <!--MENSAJES DE ESTATUS-->
        <span th:if="${mensaje != null}" th:text="${mensaje}" class="success-message usuario-container" style="display: flex; justify-content: space-between; align-items: center;"></span>
        <span th:if="${error != null}" th:text="${error}" class="error-message usuario-container" style="display: flex; justify-content: space-between; align-items: center;"></span>

        <!--TABLA DE USUARIOS-->
        <div class="table-responsive perfil-table">
            <table class="pokemon-table">
                <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Roll</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario, iterStat: ${usuarios}">
                        <td><span th:text="${iterStat.index + 1}"></span></td>
                        <td th:text="|${usuario.nombre} ${usuario.apellidoPaterno}|"></td>
                        <td th:text="${usuario.email}"></td>
                        <td>
                            <div class="badge badge-region">
                                <span th:text="${usuario.roll.Nombre}"></span>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn-social" 
                                    th:onclick="|abrirModalEditar(${usuario.id})|"
                                    id="btnEditarPerfilUsuario"> 
                                Editar
                            </button>
                            <button type="button" class="btn-eliminar" 
                                    th:onclick="|confirmarEliminacionUsuario(${usuario.id})|"> 
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal oculto de editar agregar usuario -->
        <div id="modal-editarUsuario" class="modal">
            <div class="modal-content w-25">
                <span class="closeUsuario" id="closeUsuario">&times;</span>
                <h2 id="titleForm">Usuario</h2>
                <form  th:action="@{/administrador/agregarEditar}" th:object="${user}" method="post">
                    <input type="hidden" name="idUser" th:value="${id}" th:field="*{id}" id="idUser">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input
                            type="text"
                            id="nombreUser"
                            name="nombreUser"
                            th:field="*{nombre}"
                            placeholder="Ash"
                            required
                            />
                    </div>

                    <!-- Apellido Paterno -->
                    <div class="form-group">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input
                            type="text"
                            id="apellidoPaternoUser"
                            name="apellidoPaternoUser"
                            th:field="*{apellidoPaterno}"
                            placeholder="Ketchum"
                            required
                            />
                    </div>

                    <!-- Apellido Materno -->
                    <div class="form-group">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input
                            type="text"
                            id="apellidoMaternoUser"
                            name="apellidoMaternoUser"
                            th:field="*{apellidoMaterno}"
                            placeholder="Lopez"
                            required
                            />
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="emailUser"
                            name="emailUser"
                            th:field="*{email}"
                            placeholder="Ash@gmail.com"
                            required
                            />
                    </div> 
                    <div class="form-group">
                    <label for="password" id="labelPassword">Contraseña</label>
                    <input
                            type="password"
                            id="passwordUser"
                            name="passwordUser"
                            th:field="*{password}"
                            placeholder="••••••••"
                            required
                            />
                    </div>
                    <!--ROL-->
                    <div class="form-group">
                        <label for="idRol">Tipo de Usuario</label>
                        <select id="idRolUser" name="idRolUser" required th:field="*{roll.IdRoll}">
                            <option type="number" value="2">Entrenador (Usuario)</option>
                            <option type="number" value="1">Maestro Pokémon (Admin)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn-submit">Guardar</button>
                </form>
            </div>
        </div>
        <!-- Modal oculto -->
        <div id="modal-editar" class="modal">
            <div class="modal-content w-25">
                <span class="close">&times;</span>
                <h2>Editar Perfil</h2>
                <form th:action="@{/administrador/detail}" th:object="${usuario}" method="post">
                    <input type="hidden" name="idUsuario" th:value="${id}" th:field="*{id}" id="idUsuario">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input
                            type="text"
                            id="nombre"
                            name="nombre"
                            th:field="*{nombre}"
                            th:value="${usuario.nombre}"
                            th:placeholder="${usuario.nombre}"
                            required
                            />
                    </div>

                    <!-- Apellido Paterno -->
                    <div class="form-group">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input
                            type="text"
                            id="apellidoPaterno"
                            name="apellidoPaterno"
                            th:field="*{ApellidoPaterno}"
                            th:value="${usuario.ApellidoPaterno}"
                            th:placeholder="${usuario.ApellidoPaterno}"
                            required
                            />
                    </div>

                    <!-- Apellido Materno -->
                    <div class="form-group">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input
                            type="text"
                            id="apellidoMaterno"
                            name="apellidoMaterno"
                            th:field="*{ApellidoMaterno}"
                            th:value="${usuario.ApellidoMaterno}"
                            th:placeholder="${usuario.ApellidoMaterno}"
                            required
                            />
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            th:field="*{email}"
                            th:value="${usuario.email}"
                            th:placeholder="${usuario.email}"
                            required
                            />
                    </div>
                    <button type="submit" class="btn-submit">Guardar</button>
                </form>
            </div>
        </div>
    </section>
</html>
