<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>
        <link rel="stylesheet" th:href="@{/css/perfil.css}">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="header sticky-header">
            <div class="menu-bar">
                <h1 class="titulo-pokemon">Pokédex</h1>

                <div class="menu-right">
                    <a href="/logout" class="logout-btn">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Cerrar sesión</span>
                    </a>
                </div>
            </div>
        </div>
        <main layout:fragment="content"></main>
        <script th:src="@{/js/scriptPerfil.js}"></script>
        </script>
    </body>
</html>
